.assorti-bg {
  background-color: #D44040;
  color: #FFF;
}

.sofia-sans-condensed-font {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}